#logosection{
  display: flex;
  align-items: center;
  width: 100%;
  /*justify-content: center;*/
  background-color: #B9CAD2;
  padding: 20px; /* Ajouter un peu de padding pour l'espace intérieur */
    
}

#name{
  color: #000;
  font-family: "Roboto Mono" monospace;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

#logoimg{
  width: 10%;
  height: auto;
  margin-right: 1%; /*espace entre logo, nom*/
}

#headerlist{
  display: inline-flex;
  align-items: flex-start;
  gap: 45px;
  margin-left: 10px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



