/* home page */
:root {
  --name: rgba(0,0,0,0.65);
  --dark: rgba(0,0,0,0.5);
  --gray: rgba(0,0,0,0.25);
  --primary: rgb(164, 221, 107);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* nike ma home page
main {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Roboto Mono", monospace;
}
*/

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffff;
  overflow: hidden;
}

/* NAVIGATION START */
.nav-bar {
  height: 10%;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 1.1rem;
  backdrop-filter: blur(20px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  top: 0; 
  z-index: 1000;
  gap: 10%;
}

.links {
  display: flex;
  flex-direction: row;
  margin: auto;
}

div li {
  list-style-type: none;
  display: flex;
  padding: 20px;
  gap: 5px;
  color: black;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
  
}

div li a {
  font-weight: bolder ;
  font-size: 18px;
  color: black;
  opacity: 0.85;
}

.nav-bar .logo {
  display: inline-block;
  width: 20%;
  height: auto;
  vertical-align: middle;
  align-items: baseline;
}

.nav-bar .main-picture {
  display: inline-block;
  width: 30%;
  height: auto;
  vertical-align: middle;
  margin-left: 50%;
}


/* NAVIGATION END */

/* HOME PAGE START */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
}


.card{
  margin-top: 3%;
  position: relative; /*tout devient relative au conteneur card*/
  width: 355px;
  height: 230px;
  border-radius: 1rem;
  background-color: white;
  /*box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);*/
  box-shadow: 
  10px 10px 8px 1px #faf6fc,   
  -10px -10px 8px 1px #f1faf7, 
  10px -10px 8px 1px #edf1f9, 
  -10px 10px 8px 1px #fdecea; 
  transition: height 1s;

  &:hover {
    height: 350px;
  }

  &:hover .card-container {
    height: 250px;
  }

  &:hover::after {
    left: 57.5%;
    transform: scale(1.3) translate(-50%,-45%);
  }

  &::after {  /*permet d ajouter du contenu a la fin de l element*/
    content: ''; /*pseudo element cree vide */
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: center;
    transform: scale(1) translate(-50%,-40%);
    width: 155px;
    height: 155px;
    background-image: url(image.png); /* insertion de l image a la place de l element cree*/
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
    transition: all 1.2s; /*transition douce pour toutes les proprietes de l element*/
  }
}

.card-container { /*bonne facon de structurer son css*/
  height: 70px;
  transform: translatey(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  font: 1rem helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
  transition: height 1s;
  
  & .bio {
    & h2 {
      font-size: 1.8rem;
      color: var(--name);
      margin-top: 0.5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
    }

    & p {
      font-size: 0.99rem;
      color: var(--gray);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
    }
  }

  & .data {
    display: flex;
    list-style-type: none;

    & li {
      width: 85px;
    }

    & li span {
      display: block; /*pourquoi count et type sur la meme ligne?*/
    }

    & .count {
      font-size: 0.99rem;
      font-weight: 900;
      color: var(--dark);
      margin-bottom: 0.25rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    & .type {
      font-size: 0.80rem;
      color: var(--gray);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
  }  
  
  & .cta {
    & a {
      text-decoration: none;
      width: 100px;
      margin: 0 0.25rem;
      padding: 0.5rem 0;
      background-color: transparent;
      font-size: 0.9rem;
      font-weight: 900;
      border: 1px solid var(--gray);
      border-radius: 0.25rem;
      cursor: pointer;
    }

    & .learn-more-btn {
      background-color: #EAEAEA;;
      border-color: #EAEAEA;;
      color: #bbbbbb;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
    }
      &:active {
        /*opacity: 0.5;*/
        animation: button-anim 5s ease-out;

      }

      @keyframes button-anim {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(5.0);
          background-color: #f7f1fa;
        }
        
      }
  }
}
/* HOME PAGE END */

/*sections*/
section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 82.55px;
  padding-left: 5%;
  padding-right: 5%;
}

section:not(#home) {

  text-align: center;
  position: relative;
  top: 0;
  /*overflow: hidden;*/
  @include transition(all .5s ease);
}

section:not(#home) > h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 850;
  line-height: 125px;
  @include transition(all .3s ease);
}

/*  for ????
section:not(#home) > h1:after, section:not(#home) > h1:before {
  content: " ";
  display: block;
  height: 5px;
}
*/

/* ABOUT start */

#about {
  display: flex;
  flex-direction: column;
  background-color: #faf6fc;

  & .about-title {
    color: #dcc0eb;
  }

  & .intro { /*pk marcheait pas avec & h1>span{}
    /*font-weight: bold;  test*/
    font-size: 16px;
    color: #666666;
    text-align: justify;
  }

  & .intro-sentence {
    font-weight: bold;
    font-size: 18px;
  }

  & ul {
    flex-direction: column;
    column-count: 2;
    column-gap: 15px;
    overflow: hidden;
  }

  & ul li {
    list-style-type: none;
    padding-top: 3.5%;
    text-align: center;

    & span {
      display: block;

    }
  

    & .title {
      color: #a193a8;
      opacity: 0.8;
      font-weight: bold;
      font-size: 14px;

    }
    
    & .info {
      color: #666666;
      flex-direction: column;
      font-size: 20px;
    }
  }
}

.about-data {
  display: inline-block;
}

.about-title {
  display: flex;
  justify-content: center;
  /*padding-bottom: 15%;*/
}


/* about end */


/* skills start */

#skills {
  background-color: #f1faf7;
  color: #bdd8cf;
}

/* skills end */

/* projects starts */

#projects {
  background-color: #edf1f9;
  color: #bdc6d8;
}

/* projects end */

/* experience starts */

#experience {
  background-color: #f9f5ed;
  color: #d8cfbd;
}

/* experience end */

/* services  starts */

#services {
  background-color: #fdecea;
  color: #e1b9b6;
}

/* services end */

/* contact starts */

#contact {
  background-color: #EAEAEA;
  color: #bbbbbb;
}

/* contact end */